.card {
  background: rgba(0, 0, 0, 0.555) ;
  border: #ffd0004d 4px dashed;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  border-radius: 25px;
  color: white;
  box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.5);
  gap: 12px;
}

.card-image {
  width: 48px;
  height: 48px;
  object-fit: cover;
  flex-shrink: 0;
}

.card-body {

  display: flex;
  justify-content: left;
  flex-direction: column;
  gap: 8px;
  flex: 1;
}

.card-title {
  color: white;
  font-size: 0.7rem;
  margin: 0;
  font-weight: bold;
}

.card-description {
  font-size: 0.5rem;
  opacity: 0.9;
  color: #ff0000e3;
  white-space: pre-line;
}

.card-panel {
  padding: 15px;
  justify-content: center;
  display: flex;
  flex-direction: row;
  gap: 12px;
  flex-wrap: wrap;
}

.card:hover {
  transform: scale(1.005);
  transition: transform 0.3s;
}