.profile-specs {
    background: var(--sbg);
    border: 5px solid var(--border-color);
    box-shadow: 3px 3px 0px var(--bs);
    width: 40%;
    height: auto;
    padding: 16px;
    transition: transform 1s;
}

.profile-specs:hover {
    background: var(--fbg);
    transform: scale(1.005);
    transition: background 1s, transform 1s;
}

.profile-bio {
    background: transparent;
    border: 2px solid var(--border-color2);
    outline: 2px dashed var(--border-color);
    outline-offset: 4px;
    font-size: 1rem;
    width: 80%;
    height: auto;
    align-self: center;
    font-size: 0.8rem;
    margin-bottom: 8px;
    padding: 16px;
    transition: transform 1s;
}

.profile-bio:hover {
    background: var(--lbg);
    transform: scale(1.05);
    transition: background 1s, transform 1s;
}

.profile {
    margin-top: 120px;
    gap: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}